*~
*.o
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
compile
aclocal.m4
depcomp
install-sh
missing
stamp-h1
pdp12-emu.spec
autom4te.cache/
.deps/
libpdp12/libpdp12.a
libpdp12utils/libpdp12utils.a
frontend/console/paperdump
frontend/console/pdp12c
