[project]
	description = Project GreenPea - A free PDP-12 emulator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andreas Sandberg (andysan)
[access "refs/for/refs/*"]
	read = group user/Andreas Sandberg (andysan)
	push = group user/Andreas Sandberg (andysan)
	label-Code-Review = -2..+2 group user/Andreas Sandberg (andysan)
	label-Verified = -1..+1 group user/Andreas Sandberg (andysan)
	rebase = group user/Andreas Sandberg (andysan)
	removeReviewer = group user/Andreas Sandberg (andysan)
	submit = group user/Andreas Sandberg (andysan)
[access "refs/heads/*"]
	read = group user/Andreas Sandberg (andysan)
	create = group user/Andreas Sandberg (andysan)
	push = +force group user/Andreas Sandberg (andysan)
	pushMerge = group user/Andreas Sandberg (andysan)
[access "refs/tags/*"]
	push = +force group user/Andreas Sandberg (andysan)
	pushTag = group user/Andreas Sandberg (andysan)
	pushSignedTag = group user/Andreas Sandberg (andysan)
